p {
  color: gray;
}


body {
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;
}

.page-title {
  text-align: center;
  font-weight: 100;
}

.contact-info {
  border: 1px solid #000;
  text-align: center;
}

.main {
  text-align: left;
}
	
h1 {
   font-size: 32px;
   font-family:Palatimo, 'Palatino Linotype', serif;
   color: black;
}

h4 {
   font-size: 18px;
   font-family:Palatimo, 'Palatino Linotype', serif;
   color: gray;
}

h3 {
   font-size: 20px;
   font-family:Palatimo, 'Palatino Linotype', serif;
   color: black;
}

ul {
   font-size: 18px;
   font-family:Palatimo, 'Palatino Linotype', serif;
   color: gray;


