
body {
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;
	border: 1px solid #000;
	background color: beige; 	
}

.photo {
  position: relative; 
  top: 0px; 
  right: 0px;	
}
	
.contact-info {
  text-align: center;
  font-weight: 100; 
}

.main {
  text-align: left;
  padding: 20px;
}

h1 {
   font-size: 32px;
   font-family:'Lato', sans-serif;
   color: black;
}

p {
 font-size: 18px;
 font-family:'Lato', sans-serif;
 color: gray;
}

h4 {
   font-size: 18px;
   font-family:'Lato', sans-serif;
   color: gray;
   line-height: 5px;
}

h3 {
   font-size: 20px;
   font-family:'Lato', sans-serif;
   color: black;
}

ul {
 font-size: 18px;
 font-family:'Lato', sans-serif;
 color: gray;
{
