p {
  color: red;
}


body {
	height: 100%;
	margin: 0;
	text-align: right;
	width: 100%;
}

h1 {
	font-size: 32px;
  font-family:Palatimo, 'Palatino Linotype', serif;
}

h3 {
	font-size: 24px;
  font-family:Palatimo, 'Palatino Linotype', serif;
}

h4 {
	font-size: 18px;
  font-family:Palatimo, 'Palatino Linotype', serif;
}


